/*p {
    color: brown;
    margin: 35px 0px;
}

h1 {
    font-size: 40px;
}

#intro {

    font-family: Tahoma;
    margin: 20px;
}
*/


h1{
    color:blue;
    text-align: center;
}
.para1{

    background-color: lime;
}

ul > li{
    font-size: 20px;
}